<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to('Confirm', event_user_events_path(@event), method: :post) unless current_user.events.include?(@event) %>
